@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  background-color: black;
  font-family: monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

h1 {
  font-family: "space", monospace;
  font-size: 32px;
}
form{
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #3eb489;
  border-radius: 1em;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li{
  margin-top: 1em;
}
label{
  display: inline-block;
  width: 90px;
  text-align: right;
}
input,
textarea{
  font: 1em monospace;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid black;
}
input:focus,
textarea:focus{
  border-color: #000;
}
textarea{
  vertical-align: top;
  height: 5em;
}
.button{
  padding-left: 90px;
}
button{
  margin-left: .5em;
}
#feedback{
  background-color: #3eb489;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  display: none;
}
.moveDown{
  margin-top: 3em;
}
h1, h2, h3, h4, h5, h6{
  background-color: black;
  font-family: "space", monospace;
  margin-block-end: -12px;
  border-top: 5px double;
  border-bottom: 5px double;
}
body{
  background-color: #0b0b0b;
  font-family: "space", monospace;
  padding: 20px;
}
nav ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  list-style: none;
  margin: 0;
}
nav a:hover{
  color: #3eb489;
}
content{
  max-width: 960px;
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: 300px auto;
  background-color: black;
  text-align: center;
  align-items: center;
  height: auto
}
.logo img {
  height: 200px;
  width: 200px;
}
.home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3em
}
.home-headline-1{
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  align-items: center;
}
.home-paragraph-1{
  text-align: left;
  grid-column: 1/4;
  grid-row: 2/4;
}
.home-right-img{
  height: 400px;
  grid-column: 4/6;
  grid-row: 1/4;
}
.home-right-img{
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}
ul {
  font-size: 1.5em;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}
.page-1-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
.page-1-headline-1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.page-1-paragraph-1{
  text-align: left;
  grid-column: 1/4;
  grid-row: 2/4;
}
.page-1-right-img {
  height: 350px;
  grid-column: 4/6;
  grid-row: 1/4;
}
.page-1-right-img {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}
footer {
    display: grid;
    grid-row: 4/5;
}
footer ul a {
  color: white;
}
footer ul a:hover {
    color: #3eb489;
  }
.page-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
.page-2-headline-1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.page-2-paragraph-1 {
  text-align: left;
  grid-column: 1/4;
  grid-row: 2/4;
}
.page-2-right-img {
  height: 350px;
  grid-column: 4/6;
  grid-row: 1/4;
}
.page-2-right-img {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}